
body{
  background-color: #1E2761;
}
.navbar{
  background-color: rgba(250, 244, 244, 0.89);
  width: auto;
  height: 5em;
}
.data-grid-wrapper{
  margin-top: 10%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
